* {
	font-family: "Times New Roman", sans-serif;
	background-color: rgb(109, 102, 207);
}

body {
	margin: 0px;
	padding: 0px;
}

.container {
	max-width: 800px;
	margin: 0px auto;
	padding: 0px;
	text-align: left;
}

