* {
	font-family: "Times New Roman", sans-serif;
	background-color: rgb(109, 102, 207)
}

.ingredients {
	border-top: 2px solid;
	border-bottom: 2px solid;
}

.ingredients ul {
	list-style: none;
	font-size: 18px;	
	padding: 0px;
}